/*center everything*/
body {
    text-align: center;
}

.task {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/*remove the bullets from the list*/
ul {
    list-style-type: none;
}

.task-done {
    text-decoration: line-through;
}